# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Logs
*.log

# Build artifacts
dist/
build/
*.egg-info/

# Eval runtime outputs
eval/results/*
!eval/results/.gitkeep
eval/**/.cache/
eval/videos/demo_cases/set_the_plates/demo_mix/episode1_right_score10.0_id64_1_wall-oss-v0.1_frames11424.mp4
eval/videos/demo_cases/set_the_plates/demo_mix/episode1_left_score10.0_id64_1_wall-oss-v0.1_frames11424.mp4
eval/videos/demo_cases/set_the_plates/demo_mix/episode1_high_score10.0_id64_2_wall-oss-v0.1_frames11379.mp4
